<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}"/>
    <title>Thanks For your participation</title>
</head>
<body>
    
    <div class="container">
       <br>
       <br>
       <br>
       <br>
        <div class="card  text-bg-success text-center">
            <div class="card-header">
                   Information
            </div>
            <div class="card-body">
                <p class="card-text">Thanks for your participation. Your answer has been saved</p>
            </div>
 
        </div>
    </div>

</body>
</html>